@import "bourbon/bourbon";
@import "_reset";
@import "_flex";
@import "_waiting_animation";
//@import "_jquery.sidr.light";

$offwhite-color: #EEEEEE;
$primary-color: #3ACCCC;
$secondary-color: #FFC749;
$tertiary-color: #FA475C;

@font-face {
  font-family: 'Raleway';
  src: url('webfonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('webfonts/raleway_thin-webfont.woff') format('woff'),
       url('webfonts/raleway_thin-webfont.ttf') format('truetype'),
       url('webfonts/raleway_thin-webfont.svg#svgFontName') format('svg');
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $primary-color;
}

.logo {
  display: inline-block;
}

.logotext {
  display: inline-block;
  font-size: 3em;
  margin-left: 0.125em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

label {
  font-size: 0.875em;
  display: block;
  font-family: sans-serif;
  font-style: none;
}

input {
  @include box-sizing(border-box);

  width: 100%;
  //border: 0;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 8px;
  //margin-left: 0;
  padding: 3px;
}

select {
  @include box-sizing(border-box);
  width: 100%;
  margin-bottom: 8px;
}

#formContainer {
  color: $offwhite-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  //background-color: $primary-color;
}

#newGameDiv {
  display: inline-block;
  text-align: left;
  margin-top: 3em;
  z-index: 100;
}

#submit {
  border: 0;
  position: relative;
  color: $offwhite-color;
  text-decoration: none;
  background-color: $secondary-color;
  display: block;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 4px 0px $tertiary-color, 0px 4px 10px rgba(30, 90, 30,.7);
  width: 100%;
  text-align: center;

  @include transition(all 0.1s ease);
}

#submit:hover {
  background-color: desaturate(darken($secondary-color, 5%), 20%);
  box-shadow: 0px 3px 0px darken($tertiary-color, 10%), 0px 3px 6px rgba(30, 90, 30, .9);
  position: relative;
  top: 1px;
}

#waiting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

// #debug {
//   width: 100%;
//   height: 100%;
// }

$banner-height: 2em;

#game {
}

#banner {
  height: $banner-height;
}

// Stupid fix for webkit bug with svg height
// with absolute positioning
#svgContainer {
  @include box-sizing(border-box);
  //max-height: 100%;
  position: absolute;
  top: $banner-height;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $secondary-color;
}

#paper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


