extends layout

block append js
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  //-script(src="js/snap.svg.js")
  script(src="/socket.io/socket.io.js")
  script(src="js/main.min.js")

block content
  header
  #formContainer
    #newGameDiv
      img(src='images/logo.svg', alt='logo for gamut').logo
      h1.logotext Gamut
      form(name="newGame", action='')#newGameForm
        fieldset
          label(for='name') Name:
          input(type='text', name='name', placeholder="alias", required)
          br
          label(for='gameSize') Game Size:
          select(name='gameSize')
            each size in gameSizes
              option(value=size.id)= size.description
          br
          button#submit Search for Game

    div#waiting
      h2#waitingMessage Looking for another player
      .hex1
      .hex2
      .hex3
      .hex4
      .hex5
      .hex6

    div#feedback

    div#chat
      p#chatEntries
      div#chatControls
        input(type='text')#chatInput
        button#chatSubmit Send

    //-div#counter

    div#debug
      //-button#sendPoke Poke

  div#game
    div#banner
    div#svgContainer
      svg#paper
