extends layout

block append js
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src="/socket.io/socket.io.js")
  script(src="js/main.js")

block content
  h1 Project Gamut
  #newGameForm
    label(for='name') Name:
    input(type='text', name='name', placeholder="alias", required)
    br
    label(for='gameSize') Game Size:
    select(name='gameSize')
      option(value='small') Small (20x20)
      option(value='medium') Medium (30x30)
      option(value='large') Large (50x50)
    br
    button#submit Start Game

  div#debug