/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeInOut {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeInOut {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

.hex1 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 20px;
  left: 620px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s; }

.hex2 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 800x;
  left: 900px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.hex3 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 400px;
  left: 40px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 2.9s;
  -moz-animation-delay: 2.9s;
  animation-delay: 2.9s; }

.hex4 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 200px;
  left: 700px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.hex5 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 600px;
  left: 400px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.hex6 {
  background-image: url("../images/hex.svg");
  background-size: cover;
  width: 20px;
  height: 24px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  top: 80px;
  left: 80px;
  -webkit-animation: fadeInOut 3s linear infinite;
  -moz-animation: fadeInOut 3s linear infinite;
  animation: fadeInOut 3s linear infinite;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

#waitingMessage {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 20%; }

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 15px;
  background: #f8f8f8;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px 5px #ebebeb;
  -moz-box-shadow: inset 0 0 5px 5px #ebebeb;
  box-shadow: inset 0 0 5px 5px #ebebeb; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr.left {
  left: -260px;
  right: auto; }

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #333;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(white, #dfdfdf);
  background-image: -moz-linear-gradient(white, #dfdfdf);
  background-image: -o-linear-gradient(white, #dfdfdf);
  background-image: linear, false, white, #dfdfdf;
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); }

.sidr p {
  font-size: 13px;
  margin: 0 0 12px; }

.sidr p a {
  color: rgba(51, 51, 51, 0.9); }

.sidr > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #fff; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf; }

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 49px; }

.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb; }

.sidr ul li a, .sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #333; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb; }

.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(51, 51, 51, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button], .sidr input[type=submit] {
  color: #f8f8f8;
  background: #333; }

.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
  background: rgba(51, 51, 51, 0.9); }

@font-face {
  font-family: 'Raleway';
  src: url("webfonts/raleway_thin-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/raleway_thin-webfont.woff") format("woff"), url("webfonts/raleway_thin-webfont.ttf") format("truetype"), url("webfonts/raleway_thin-webfont.svg#svgFontName") format("svg"); }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #3acccc; }

.logo {
  display: inline-block; }

.logotext {
  display: inline-block;
  font-size: 3em;
  margin-left: 0.125em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

label {
  font-size: 0.875em;
  display: block;
  font-family: sans-serif;
  font-style: none; }

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 3px; }

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px; }

#formContainer {
  color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }

#newGameDiv {
  display: inline-block;
  text-align: left;
  margin-top: 3em;
  z-index: 100; }

#submit {
  border: 0;
  position: relative;
  color: #eeeeee;
  text-decoration: none;
  background-color: #ffc749;
  display: block;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 4px 0px #fa475c, 0px 4px 10px rgba(30, 90, 30, 0.7);
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease; }

#submit:hover {
  background-color: #eab744;
  box-shadow: 0px 3px 0px #f91530, 0px 3px 6px rgba(30, 90, 30, 0.9);
  position: relative;
  top: 1px; }

#waiting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1; }

#game {
  position: relative;
  height: 100%;
  width: 100%; }

#banner {
  height: 2em; }

#paper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffc749; }
